audiotools==3.1.1
cycler==0.10.0
decorator==4.0.10
ExifRead==2.1.2
imageio==1.6
matplotlib==1.5.3
moviepy==0.2.2.11
numpy==1.10.4
Pillow==8.1.1
pyparsing==2.1.9
pyproj==1.9.5.1
python-dateutil==2.5.2
pytz==2016.6.1
request==0.0.2
requests==2.9.1
scipy==0.17.0
six==1.10.0
tqdm==4.8.4
urllib3==1.14
wheel==0.26.0
